/*** header nav ***/
body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

nav {
    top: 0;
    z-index: 1;
    position: fixed;
    height: 70px;
    width: 100%;
    box-sizing: border-box;
    background-color:white;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

nav #logo {
    float: left;
}

nav a {
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    color: #000;
    text-decoration: none;
    padding: 19.5px 15px;
    display: block;
    transition: 100ms;
    transition-timing-function: ease-in;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    float: right;
}


nav li a {
    padding: 25.5px 15px;

    position: relative;
    display: block;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-bottom: 0;
    transition: 300ms;
    transition-timing-function: ease-in;
}

nav li.currentpage a {
    background-color: lightgray;
}

nav a:hover {
    background-color: mistyrose;
}

.main {
    z-index: 0;
    position: relative;
    margin-top: 70px;
}



/** titlecard **/
#titlecard {
    position: relative;
    height:400px;
}

/* text */
#titlecard div:nth-child(1){
    text-shadow: 3px 3px 5px rgba(0,0,0,.5);
    color: white;
    z-index: -1;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}



/* img */
#titlecard div:nth-child(2){
    
    background-size: cover;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: inherit;
    z-index: -2;
}


/*** main content elements ***/
h2 {
    font-family: 'Abel', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 20px;
}

.boxes {
    box-sizing: content-box;
    margin: auto;
    padding: 30px 0;
    width: 85%;
    max-width: 600px;
}

/*
.boxes hr {
    border: none;
    height: 1px;
    background-image: linear-gradient(to left, #fff, grey, #fff);
}
*/

.box {
    padding: 10px 0;
}



/* footer */
footer {
    border-top: 1px solid grey;
    padding: 10px;
}

footer p {
    float: left;
    font-size: 13px;
    padding: 15px 20px;
    margin-left: 30px;
}

footer a {
    text-decoration: none;
    color: grey;
}

footer a:active {
    text-decoration: none;
    color: grey;
}

footer a:visited {
    text-decoration: none;
    color: grey;
}

footer a:hover {
    text-decoration: none;
    color: mistyrose;
}

footer h2 {
    font-size: 14px;
}

footer img {
    height: 70px;
    float: left;
    padding: 15px 30px;
    margin-bottom: 50px;
    margin-left: 10px;
}


/*** toggle for mobile view ***/


.toggle {
    display: none;
    position: absolute;
    padding: 15px;
    top: 0px;
    right: 0px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.toggle img {
    height: inherit;
    width: inherit;
}




@media (max-width: 1000px) {

    .toggle {
        display: block;
    }

    nav ul {
        display: none;
        width: 100%;
        top: 0;
        box-shadow: 0 5px 15px rgba(0,0,0,.2);
    }

    nav ul.active {
        display: block;
    }

    nav li a {
        margin: 0;
        display: block;
        text-align: center;
        color: black;
        background: rgba(255, 255, 255, 0.9);
        border-top: 1px solid lightgrey;
        padding: 20px 15px;

    }

}