/*** table ***/
.table {
    display: table;
    border-collapse: collapse;
    overflow-x: auto; /* scroll bar appears when visible area is smaller than table */
    margin-bottom: 10px;
    width: 100%;
}

.table p {
    font-size: 14px;
}

/* column headers row (TOP) */
.table .header-row {
    display: table-header-group;
    border-bottom: 1px solid grey;
    border-top: none;
    background: mistyrose;
}

/* regular rows */
.table .row {
    display: table-row;
    border-top: 1px solid grey;
}

.table .row:hover {
    background: #eee;
}

/* columns, individual cells */
.table .col {
    display: table-cell;
    table-layout: auto;
    padding: 3px 7px;
}